{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To Django Ecommerce</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
                        <p align="justify">
                            Program Women in Tech 2024 ini ditujukan untuk 
                            memberikan pengembangan pengetahuan dan kemampuan 
                            bagi perempuan di bidang teknologi 
                            dan membuka peluang karir yang lebih banyak. 
                            Dengan diadakannya program ini, 
                            juga dapat membuka jalan bagi perempuan 
                            untuk menciptakan inovasi teknologi yang dapat 
                            memberikan dampak positif bagi perempuan dan juga masyarakat.
                            <br/><br/>
                            Peserta akan mempelajari dasar pemrograman Python 
                            terkait variabel, tipe data yang berbeda, 
                            cara melakukan operasi dasar, cara menyimpan 
                            dan memanipulasi kumpulan data, membaca dan menulis berkas, 
                            serta Django sebagai tools yang digunakan untuk mengerjakan project akhir. 
                            Pada akhir pelatihan, peserta akan menyelesaikan project 
                            secara berkelompok dengan menggunakan bahasa pemrograman Python 
                            dengan tools Django.
                            <br/><br/>
                            Kelompok 7 membuat sebuah ecommerce website sederhana sebagai
                            syarat kelulusan dari program pelatihan ini. 
                        </p>
                        <br/><br/>
                    </div>
                </center>
            </div>
        </div>

{% endblock %}